<!-- templates/partials/playlists_form.html -->

<fieldset>

    <!-- Mood -->
    <div class='form group'>
        <label for='mood_today'>Mood Today</label>
        <p>Rate it</p>
        <select id="playlist-rating" name='mood'>
            <option value="0">🙂 Fine</option>
            <option value="1">😔 Sad</option>
            <option value="2">😠 Angry</option>
            <option value="3">😨 Scared</option>
            <option value="4">😟 Worried</option>
            <option value="5">🥰 Perfect</option>
        </select>
    </div>

</fieldset>

    <!-- BUTTON -->
    <p>
        <button type='submit'>Save Mood</button>
        <a href="/"><button type="button">Cancel</button></a>
    </p>
