<!-- templates/partials/playlists_form.html -->

<fieldset>

    <!-- Mood -->
    <div class='form group'>
        <label for='mood_today'>Mood Today</label>
        <p>Rate it</p>
        <select id="playlist-rating" name="mood" default="6">
            <option value="0">Angry</option>
            <option value="1">Scared</option>
            <option value="2">Worried</option>
            <option value="3">Sad</option>
            <option value="4">Fine</option>
            <option value="5">Happy</option>
            <option value="6" selected="selected">Perfect</option>
        </select>
    </div>

</fieldset>

    <!-- BUTTON -->
    <p>
        <button type='submit'>Save Mood</button>
        <a href="/"><button type="button">Cancel</button></a>
    </p>
